@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --color-negro: #000000;
    --color-blanco: #f6f6f6;
    --color-celeste: #22d4fd;
    --color-gris: #272727;

    /* variables para las letras  */
    --letra-montserrat: "Montserrat", sans-serif;
    --letra-krona: "Krona One", sans-serif;

}

body{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    box-sizing: border-box;
}

/* strong{
    color:#22d4fd;
} */
.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px ;
}


.header__menu__link {
    font-family: var(--letra-montserrat);
    font-size: 1.5rem;
    padding: 10px 15px;
    font-weight: 600;
    color: var(--color-celeste);
    text-decoration: none;
}


.presentacion{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo_destacado{
    color:#22d4fd;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--letra-krona);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--letra-montserrat);
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: var(--color-celeste);
}

.presentacion__imagen{
    width: 50%;
}

.presentacion__botones{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__botones__subtitulo{
    font-family: var(--letra-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__botones__ins, .presentacion__botones__git, .presentacion__botones__link{
    width: 50%;
    /* background-color: #22d4fd; */
    text-align: center;
    padding: 21.5px 0;
    font-family: var(--letra-montserrat);
    font-size: 1.5rem;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px solid var(--color-celeste);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.presentacion__botones__git:hover{
    cursor: pointer;
    background-color: var(--color-gris);
}

.presentacion__botones__ins:hover{
    cursor: pointer;
    background-color: var(--color-gris);
}

.presentacion__botones__link:hover{
    cursor: pointer;
    background-color: var(--color-gris);
}

.footer{
    background-color: var(--color-celeste);
    padding: 1.5rem;
    color: var(--color-negro);
    text-align: center;
    font-family: var(--letra-montserrat);
    font-weight: 400;
    font-size: 1.5rem;
}

@media (max-width:1200px){

    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
        gap: 82px;
    }

    .presentacion__contenido{
        width: auto;
    }
}
